.btn {
    width: 90px;
    height: 32px;
    font-size: 18px;
    background: transparent;
    border: 2px solid rgb(21, 126, 7);
    color:rgb(21, 126, 7);
    cursor: pointer;
    
}

.btn:active {
    background-color: rgb(21, 126, 7);
    color:black;
}